# Ignore virtual environment folder
portfolio_env/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore log files
*.log

# Ignore configuration files (optional)
config/config.py

# Ignore system files
.DS_Store
